<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户端管理</title>
    <!-- <link rel="Shortcut Icon" href="${ctx }/favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" href="../media/admin/inc/global.css" type="text/css" />
    <link rel="stylesheet" href="../media/admin/inc/style.css" type="text/css" />
    <link rel="stylesheet" href="../media/admin/font/iconfont.css" type="text/css" />
    <script type="text/javascript" src="../media/admin/inc/jquery.min.js"></script>

    <link rel="stylesheet" href="../media/admin/inc/bootstrap/css/bootstrap.css" type="text/css" />
    <script type="text/javascript" src="../media/admin/inc/bootstrap/js/bootstrap.js"></script>

    <!-- <link rel="stylesheet" href="../media/admin/inc/jquery.xinbox.css" type="text/css" />
    <script type="text/javascript" src="../media/admin/inc/jquery.xinbox.js"></script> -->
    <!-- 
    <script>
        var _preservation = "<fmt:message key='preservation'/>";
        var _confirmation = "<fmt:message key='confirmation'/>";
        var _thereIsAnUnknownErrorPleaseTryAgainLater = "<fmt:message key='_thereIsAnUnknownErrorPleaseTryAgainLater'/>";
    </script> -->

    <link rel="stylesheet" href="../media/admin/inc/themes/default/style.min.css" />
    <script src="../media/admin/inc/jstree.min.js"></script>

    <link rel="stylesheet" href="../media/admin/inc/datatables.css" type="text/css" />
    <script type="text/javascript" src="../media/admin/inc/datatables.min.js"></script>


    <script type="text/javascript" src="../media/common/jquery.form.js"></script>
    <script type="text/javascript" src="../media/common/jquery.validate.js"></script>
    <script type="text/javascript" src="../media/common/jquery.validate.extend.js"></script>

    <!-- <script type="text/javascript" src="../media/media/common/My97DatePicker4.5/WdatePicker.js"></script> -->

    <link rel="stylesheet" href="../media/admin/inc/colorbox.css" type="text/css" />
    <script type="text/javascript" src="../media/admin/inc/jquery.colorbox.js"></script>

    <link rel="stylesheet" href="../media/admin/inc/jquery.sumoselect.css" type="text/css" />
    <script type="text/javascript" src="../media/admin/inc/jquery.sumoselect.js"></script>


    <script type="text/javascript" src="../media/admin/inc/layer/layer.js"></script>
    <script type="text/javascript" src="../media/admin/inc/func.js"></script>

    <script type="text/javascript" src="../media/admin/inc/icheck.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="#" class="logobox">
                <span class="logo"><img src="../media/admin/images/logo2.png" class="img" /><span class="t">数据中心</span></span>
            </a>
            <div class="header_right">
                <ul class="nav">
                    <li class="cur">
                        <a href="#">统一认证</a>
                    </li>
                    <li class="">
                        <a href="#">统一授权</a>
                    </li>
                    <li class="">
                        <a href="#">统一数据</a>
                    </li>
                    <li class="disable">
                        <a href="#">统一报表</a>
                    </li>
                    <li class="disable">
                        <a href="#">统一日志</a>
                    </li>
                </ul>
                <div class="msg_right">
                    <!-- <a href="#" class="msg_btn">
    						<span class="num">7</span>
    					</a>
    					<a href="#" class="help_btn"></a> -->
                    <a href="./logout.html" class="user"><img src="">超级root&nbsp;&nbsp;
                        退出</a>
                </div>
            </div>
        </div>
        <div class="_container">
            <div class="menu">
                <a href="#" class="menu_btn"></a>
            </div>
            <div class="content">
                <nav class="content_left">
                    <ul class="nav_left">
                        <li class="cur">
                            <a href="./application_list.html" class="t_1">
                                <span class="t">
                                    <i class="icon iconfont icon-shujuzhongxin-yingyongguanli"></i>
                                    应用类别
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="./service_list.html" class="t_1">
                                <span class="t">
                                    <i class="icon iconfont icon-shujuzhongxin-yingyongguanli"></i>
                                    应用管理
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="./role_list.html" class="t_1">
                                <span class="t">
                                    <i class="icon iconfont icon-shujuzhongxin-jiaoseguanli"></i>
                                    角色管理
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="./post_list.html" class="t_1">
                                <span class="t">
                                    <i class="icon iconfont icon-shujuzhongxin-gangweiguanli"></i>
                                    岗位管理
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="./auth_distribution.html" class="t_1">
                                <span class="t">
                                    <i class="icon iconfont icon-shujuzhongxin-quanxianfenpei"></i>
                                    权限管理
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="./oauth2_client.html" class="t_1">
                                <span class="t">
                                    <i class="icon iconfont icon-shujuzhongxin-kehuduanguanli"></i>
                                    客户端管理
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <section class="container-fluid container_page">
                    <div class="row row-full">
                        <div class="row-full-in">
                            <article class="col-lg-12 container_main">
                                <div class="panel panel-box">
                                    <div class="panel-heading tit_big">
                                        <span class="t">
                                            應用類別
                                        </span>
                                        <span class="filter">
                                            <span class="item">
                                                <a href="./application_create.html" class="submit xin_box">
                                                    增加應用
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="panel-body scrollbar">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablelist data_table">
                                            <thead>
                                                <tr>
                                                    <th >應用名稱</th>
                                                    <th width="150">編碼</th>
                                                    <th width="150">創建時間</th>
                                                    <th width="150">操作</th>
                                                    
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script>
            var contHeight, pageResizeHead, pageResize, popResize;
            $(function () {
                pageResizeHead = function () {
                    contHeight = $(window).height() - $(".header").height() - 10;
                }
                pageResizeHead();
            })


            function layerConfirm(text, url) {
                layer.confirm(text, {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    layer.closeAll();
                    window.location.href = url;
                }, function () {

                });
            }
        </script>
        <script>
            function updateClientSecret(id) {
                layer.confirm('确认要重制客户端密码吗', { btn: ['确定', '取消'] }, function () {
                    $.ajax({
                        type: "post",
                        url: "${ctx}/admin/oauth2Client/updateClientSecret.ajax",
                        data: {
                            id: id,
                            m: Math.random()
                        },
                        success: function (data) {
                            if (data) {
                                var tables = $('.dataTable').DataTable();
                                tables.draw(false);
                                layer.closeAll();
                            }
                        }
                    });
                }, function () {

                });

            }
            $(function () {
                pageResize = function () {
                    $('.container_main .scrollbar').css('height', contHeight - $('.container_main .tit_big').outerHeight() - 2);
                }
                pageResize();
                var tablelist = $('.data_table').DataTable({
                    "language": {
                        "url": "../media/admin/inc/datatables_Chinese.json"
                    },
                    //格式操作列
                    "columnDefs": [
                        {
                            // The `data` parameter refers to the data for the cell (defined by the
                            // `data` option, which defaults to the column being worked with, in
                            // this case `data: 0`.
                            "render": function (data, type, row) {
                                var btn_html = "";
                                btn_html += "<div class='operatebtn'>";
                                btn_html += "	<a href='#' class='ctrl'></a>";
                                btn_html += "	<ul>";
                                btn_html += "		<li><a href='./application_edit.html' class='see_btn xin_box'>编辑</a></li>";
                                btn_html += "	</ul>";
                                btn_html += "</div>";

                                return btn_html;
                            },
                            "targets": 3
                        }
                    ],
                    //关闭搜索
                    "searching": false,
                    //关闭排序
                    "bSort": false,
                    "processing": true,
                    "serverSide": true,
                    "dom": 'rft<"t_b"li<"t_b_r"p>>',
                    "ajax": {
                        "url": "./appList.json/json",
                        "type": "POST"
                    }
                });
                //渲染完成刷新 xinBox
                tablelist.on('draw', function () {
                    $(".xin_box").colorbox(colorbox_option);
                });
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $(window).resize(function () {
                    pageResizeHead();
                    try {
                        if (typeof pageResize === "function") {
                            pageResize();
                        }
                        if (typeof popResize === "function") {
                            popResize();
                        }
                    } catch (e) { }
                });
            })
            $('.help-tips').each(function () {
                $(this).mouseover(function () {
                    layer.tips($(this).attr('data-title'), $(this), {
                        time: 0,
                        skin: 'layui-layer-tips_1'
                    });
                    console.log(1)
                }).mouseout(function () {
                    layer.closeAll('tips');
                })
            })

            $(".userinfo .item select").SumoSelect();

            $(document).on('click', '.select_tree .title', function () {
                $('.select_tree').find('.treebox').hide();
                $(this).parent('.select_tree').find('.treebox').show();
            });
            /*$(document).on('click','.treebox .jstree-node',function(e){
                if(!$(e.target).is(".jstree-icon")){
                    $('.treebox').hide();
                }
            });*/
            $(document).click(function (e) {
                if (!$(e.target).is(".select_tree") & !$(e.target).parents().is(".select_tree")) {
                    $('.treebox').hide();
                }
            });
            $(function () {

                var wlhash = window.location.hash;
                wlhash = wlhash.substr(1, wlhash.length);

                /*$(".xin_box").xinBox({
                    maxWidth:1920,
                    minWidth:$(window).width()*0.9,
                    innerWidth:$(window).width()*0.9,
                    defaultHref: (($.trim(wlhash) && $.trim(wlhash)) != '#') ? ( decodeURI(wlhash) ) : false
                });*/

                $(".xin_box").colorbox(colorbox_option);
                $('.xboxClose_btn').click(function () {
                    $.colorbox.close();
                });

                /*var height = $(window).height()-$(".header").height()-$(".menu").height() -1;
                $(".nav_left,.sideTree,.content_right").css({"min-height":height-1-$(".navbar .tit").outerHeight()-$(".navbar .tit_big").outerHeight()})
                $(".sideTree").css({"height":height-1-$(".navbar .tit").outerHeight()-$(".navbar .tit_big").outerHeight()})
                $(".contbox").css({"height":height-$(".contentin .tit_big").outerHeight()})*/

                $(".navbar li > a").click(function () {
                    $(this).parent().toggleClass("on");
                })
            })
        </script>
</body>

</html>