<div class="popup_out">
    <div class="poptit">
        <span class="t">客戶端詳細-公文流转</span>
    </div>
    <div class="popcontent">
        <ul class="formlist">
            <li class="item">
                <div class="item_in">
                    <span class="label">客戶端名稱：</span>
                    <span>公文流转</span>
                </div>
            </li>
            <li class="item">
                <div class="item_in">
                    <span class="label">客戶端ID：</span>
                    <span>wm8b37c1547b91490d</span>
                </div>
            </li>
            <li class="item">
                <div class="item_in">
                    <span class="label">客戶端密鑰：</span>
                    <span>c17703a0dc044da98a20d731298fc3af</span>
                </div>
            </li>
            <li class="item">
                <div class="item_in">
                    <span class="label">備注：</span>
                    <span>公文流转a</span>
                </div>
            </li>
            <li class="item">
                <div class="item_in">
                    <span class="label">創建人：</span>
                    <span>超级root</span>
                </div>
            </li>
            <li class="item">
                <div class="item_in">
                    <span class="label">創建時間：</span>
                    <span>2018-05-24 15:19:42</span>
                </div>
            </li>
        </ul>
        <div class="subbox">
            <a href="/wm_dc/admin/oauth2Client/edit/1.do?menuId=71" class="submit xin_box">編輯</a>
        </div>

    </div>

</div>


<script type="text/javascript">
    $(function() {
        $(".xin_box").colorbox(colorbox_option);
    });
</script>